.cartWrapper {
    composes: container from './../../App.css';
}
.container {
    composes: container from './../../App.css';
}
.input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #1f1f20;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
    width: min-content;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    height: 100%;
}
.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.rowBetween {
    composes: row;
    justify-content: space-around;
    padding: .5rem;
}
.tableRow{
    composes: row;
    width: 80%;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    justify-content: space-around;
    max-height: 25rem;
    padding: .7rem 4rem .7rem .2rem;
    color: #999;
    font-size: 15px;
    border-bottom: 1px solid #999999;
}
.tableRow > * span {
    font-size: 16px;
    font-weight: 400;
}
.tableRow > div {
    max-width: 22%;
}
.mainImg {
    display: flex;
}
.mainImg > img{
    width: 100px;
}
.buttonMain {
    composes: mainBtn from './../../App.css';
}
.tableRow > * title {
    display: block;
    font-size: 12px;
}
.btnSmall
{
    font-weight: 600;

    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
}
.btnSmallMinus
{
    padding-bottom: 4px;

    composes: btnSmall;
}
.btnSmallClose {
    composes: btnSmall;
    border: none;
    position: absolute;
    top: 40%;
    right: 0;
}
.empty {
    display: flex;
    content: '';
    min-width: .5rem;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 8rem;
}
.description {
    composes: calculator;
}
.description > h6 {
    margin: 2px;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 1px solid #999999;
}