.headerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #8f857d;
}


.navContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.navContainer > a{
    text-decoration: none;
    font-size: 1.4rem;
}
.active {
    margin-right: 1rem;
    color: #e6e6e6;
}
.item {
    margin-right: 1rem;
    border-bottom: 1px solid #8f857d;
}
.item:hover {
    border-bottom: 1px solid white;
}