.formControl input{
    padding: 5px;
    background-color: rgba(0, 00, 01, 0.8);
    color: white;
    grid-area: text;
    border-radius: 5px;
    border-spacing: 200px;
}
.formControl textarea{
    padding: 5px;
    background-color: rgba(0, 00, 01, 0.8);
    color: white;
    grid-area: text;
    border-radius: 5px;
    border-spacing: 200px;
}
.error textarea, .error input{
    border: solid red 1px;
}
.errorMessage {
    background-color: red;
    border-radius: 5px;
}