.App {
    text-align: center;
    box-shadow: 0px 0px 5px 0px #00004b;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19rem;
    height: 25rem;
    padding: 5px;
    color: #999;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner {
    background-color: #1f1f20;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    min-height: 120vh;
}
.bannerContent {
    min-height: 120vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
@media (min-width: 1151px) {
    .container {
        max-width: 1100px;
    }
    .App {
        max-width: 1280px;
        margin: 0 auto;
    }
}
@media (min-width: 992px) and (max-width: 1150px)  {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    h2, h3 {
        font-size: 1.8rem;
    }
}
@media (max-width: 576px) and (min-width: 360px){
    .container {
        max-width: 350px;
    }
}
button {
    background-color: inherit;
    color: inherit;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
    border: solid 1px #999999;
    border-radius: 0.4rem;
    padding: 8px 20px;
    box-sizing: border-box;
    max-height: 3rem;
    cursor: pointer;
    font-weight: 400;
}
button:hover{
    border-bottom: 1px solid #8f857d;
}
link {
    text-decoration: none;
}
hr {
    background-color: rgb(255, 255, 255);
    height: 0.5px;
    width: 80%;
    border-color: rgb(169, 160, 111);
}
button:focus {outline:0;}
